<h1>Pandas - Merging Joining and Concatenating</h1>

In [1]:
import numpy as np
import pandas as pd

In [5]:
df1 = pd.DataFrame({'A': ['A0','A1','A2','A3'],
                    'B': ['B0','B1','B2','B3'],
                    'C': ['C0','C1','C2','C3'],
                    'D': ['D0','D1','D2','D3']},
                    index = [0,1,2,3])

In [6]:
df1

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [7]:
df2 = pd.DataFrame({'A': ['A4','A5','A6','A7'],
                    'B': ['B4','B5','B6','B7'],
                    'C': ['C4','C5','C6','C7'],
                    'D': ['D4','D5','D6','D7']},
                    index = [4,5,6,7])

In [8]:
df2

    A   B   C   D
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [9]:
df3 = pd.DataFrame({'A': ['A8','A9','A10','A11'],
                    'B': ['B8','B9','B10','B11'],
                    'C': ['C8','C9','C10','C11'],
                    'D': ['D8','D9','D10','D11']},
                    index = [8,9,10,11])

In [10]:
df3

      A    B    C    D
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

<h2>Concatenation</h2>

<h3>Concatenation basically glues together DataFrames.  Keep in mind that <u>the dimesions should match along the axis you are concatenating on</u>. You can use <u>pd.concat( )</u> and pass in a list of DataFrames to concatenate together.</h3>

In [11]:
pd.concat([df1,df2,df3])

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [12]:
pd.concat([df1,df2,df3],axis = 1)             # Concatenate along the columns or axis=1

      A    B    C    D    A    B    C    D    A    B    C    D
0    A0   B0   C0   D0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1    A1   B1   C1   D1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2    A2   B2   C2   D2  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3    A3   B3   C3   D3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4   NaN  NaN  NaN  NaN   A4   B4   C4   D4  NaN  NaN  NaN  NaN
5   NaN  NaN  NaN  NaN   A5   B5   C5   D5  NaN  NaN  NaN  NaN
6   NaN  NaN  NaN  NaN   A6   B6   C6   D6  NaN  NaN  NaN  NaN
7   NaN  NaN  NaN  NaN   A7   B7   C7   D7  NaN  NaN  NaN  NaN
8   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   A8   B8   C8   D8
9   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   A9   B9   C9   D9
10  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A10  B10  C10  D10
11  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A11  B11  C11  D11

<h2> Example DataFrames</h2>

In [31]:
left = pd.DataFrame({'key':['K0','K1','K2','K3'],
                     'A': ['A0','A1','A2','A3'],
                     'B': ['B0','B1','B2','B3']})


right = pd.DataFrame({'key':['K0','K1','K2','K3'],
                     'C': ['C0','C1','C2','C3'],
                     'D': ['D0','D1','D2','D3']})

In [32]:
left

    A   B key
0  A0  B0  K0
1  A1  B1  K1
2  A2  B2  K2
3  A3  B3  K3

In [33]:
right

    C   D key
0  C0  D0  K0
1  C1  D1  K1
2  C2  D2  K2
3  C3  D3  K3

<h3>Merging</h3>

<h3>The <u>merge</u> function allows you to merge DataFrames together using a similar logic as merging SQL tables together. Using <u>pd.merge( )</u></h3>

In [34]:
pd.merge(left,right,how='inner', on='key')      # Merge df together
                                                
    
# Usage: pd.merge('left/df1','right/df2',(optional)how='how to do the merge', on='what matching column in the dfs to merge on')
# inner merge is default

    A   B key   C   D
0  A0  B0  K0  C0  D0
1  A1  B1  K1  C1  D1
2  A2  B2  K2  C2  D2
3  A3  B3  K3  C3  D3

<h4>Or to to show a more compliacted example:</h4>

In [35]:
left = pd.DataFrame({'key1':['K0','K0','K1','K3'],
                     'key2':['K0','K1','K0','K1'],
                     'A': ['A0','A1','A2','A3'],
                     'B': ['B0','B1','B2','B3']})


right = pd.DataFrame({'key1':['K0','K1','K1','K2'],
                        'key2':['K0','K0','K0','K0'],
                             'C': ['C0','C1','C2','C3'],
                             'D': ['D0','D1','D2','D3']})

In [36]:
left

    A   B key1 key2
0  A0  B0   K0   K0
1  A1  B1   K0   K1
2  A2  B2   K1   K0
3  A3  B3   K3   K1

In [37]:
right

    C   D key1 key2
0  C0  D0   K0   K0
1  C1  D1   K1   K0
2  C2  D2   K1   K0
3  C3  D3   K2   K0

In [39]:
pd.merge(left,right,on=['key1','key2'])     # Merging on two columns
                                            # Merging on key1 and key2 of both dfs
                                            # For key1, only K0 and K1 match in both dfs
                                            # For key2, only K0 matches for for dfs
                                            # The corresponding values associated with the matched up keys will appear in the merge output

    A   B key1 key2   C   D
0  A0  B0   K0   K0  C0  D0
1  A2  B2   K1   K0  C1  D1
2  A2  B2   K1   K0  C2  D2

In [40]:
pd.merge(left,right,how='outer',on=['key1','key2'])     # *Outer* Merge
                                                        # with 2 keys that match in both dfs

     A    B key1 key2    C    D
0   A0   B0   K0   K0   C0   D0
1   A1   B1   K0   K1  NaN  NaN
2   A2   B2   K1   K0   C1   D1
3   A2   B2   K1   K0   C2   D2
4   A3   B3   K3   K1  NaN  NaN
5  NaN  NaN   K2   K0   C3   D3

In [41]:
pd.merge(left,right,how='right',on=['key1','key2'])     # *Right* merge
                                                        # with 2 keys that match in both dfs

     A    B key1 key2   C   D
0   A0   B0   K0   K0  C0  D0
1   A2   B2   K1   K0  C1  D1
2   A2   B2   K1   K0  C2  D2
3  NaN  NaN   K2   K0  C3  D3

In [42]:
pd.merge(left,right,how='left',on=['key1','key2'])     # *Left* merge
                                                        # with 2 keys that match in both dfs

    A   B key1 key2    C    D
0  A0  B0   K0   K0   C0   D0
1  A1  B1   K0   K1  NaN  NaN
2  A2  B2   K1   K0   C1   D1
3  A2  B2   K1   K0   C2   D2
4  A3  B3   K3   K1  NaN  NaN

<h3>Joining</h3>

<h3>Joining is a convient method for combing the columns of two portentially differently-indexed DataFrames into a single result DF.</h3>

In [43]:
left = pd.DataFrame({'A': ['A0','A1','A2'],
                     'B': ['B0','B1','B2']},
                   index = ['K0','K1','K2'])


right = pd.DataFrame({'C': ['C0','C2','C3'],
                      'D': ['D0','D2','D3']},
                    index = ['K0','K2','K3'])

In [44]:
left

     A   B
K0  A0  B0
K1  A1  B1
K2  A2  B2

In [45]:
right

     C   D
K0  C0  D0
K2  C2  D2
K3  C3  D3

In [46]:
left.join(right)              # Left Join (using left's index) with right

     A   B    C    D
K0  A0  B0   C0   D0
K1  A1  B1  NaN  NaN
K2  A2  B2   C2   D2

In [48]:
left.join(right, how='outer')   # Left join with right using the outer process
                                # This uses everyone's indxes

      A    B    C    D
K0   A0   B0   C0   D0
K1   A1   B1  NaN  NaN
K2   A2   B2   C2   D2
K3  NaN  NaN   C3   D3