<h1>Pandas Data Input and Output</h1>

<li>CSV
<li>Excel
<li>HTML
<li>SQL

In [15]:
!conda install sqlalchemy

Solving environment: done

# All requested packages already installed.

In [16]:
!conda install lxml

Solving environment: done

# All requested packages already installed.

In [17]:
!conda install html5lib

Solving environment: done

# All requested packages already installed.

In [18]:
!conda install BeautifulSoup4

Solving environment: done

# All requested packages already installed.

In [19]:
pwd

'/home/dsxuser/work'

<h3>Loading a file to be read</h3>

<h4>To load a file that can be read into a dataframe: First browse the file from the <u>New Data Assets</u> section of the main page. Next, from the specific notebook in question, click on the <b><u>0100</u></b> icon (upper right corner). 
    
From there, find the file that was just downloaded, and select <b><u>Insert to Code</u></b>, and chose Insert StreamingBody object. 

Under the (# pandas documentation) line, the next line should have the variable referenced to the file which was downloaded into storage. (It usally starts with <u>streaming_body_1</u>). 

Execute the cell, and the file variable should be ready to be used (i.e., pd.read_csv(streaming_body_1)) </h4>

In [31]:

import types
import pandas as pd
import numpy as np
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share your notebook.
client_c301c8e200a34ae486a32a40454568f1 = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='D3_G27FYSAYWOwELXqebZnpnv235igW_eE9duzj2TzyD',
    ibm_auth_endpoint="https://iam.bluemix.net/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url='https://s3-api.us-geo.objectstorage.service.networklayer.com')

# Your data file was loaded into a botocore.response.StreamingBody object.
# Please read the documentation of ibm_boto3 and pandas to learn more about your possibilities to load the data.
# ibm_boto3 documentation: https://ibm.github.io/ibm-cos-sdk-python/
# pandas documentation: http://pandas.pydata.org/
streaming_body_1 = client_c301c8e200a34ae486a32a40454568f1.get_object(Bucket='basicdataprocessingvisualizationp-donotdelete-pr-segj2b6ymcjjwc', Key='example')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(streaming_body_1, "__iter__"): streaming_body_1.__iter__ = types.MethodType( __iter__, streaming_body_1 )

<h3>Writing to a DataFram</h3>

In [32]:
df = pd.read_csv(streaming_body_1)      # Usage pd.read_csv('some csv file')
                                        # Assign it to a DataFrame

<h3>Writing to a CSV file</h3>

In [33]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [34]:
# Read data into a new file (called My_output)
# *Note: Make sure index = False* so unnamed index/old index doesn't appear
# Usage: df.to_csv('new file name', index=False)


df.to_csv('My_output', index = False)

In [35]:
pd.read_csv('My_output')    # Read the output of the new csv file
                            # Usage: pd.read_csv('some new file')

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

<h3>Reading and Writing Excel Files</h3>

In [39]:

# Your data file was loaded into a botocore.response.StreamingBody object.
# Please read the documentation of ibm_boto3 and pandas to learn more about your possibilities to load the data.
# ibm_boto3 documentation: https://ibm.github.io/ibm-cos-sdk-python/
# pandas documentation: http://pandas.pydata.org/
streaming_body_2 = client_c301c8e200a34ae486a32a40454568f1.get_object(Bucket='basicdataprocessingvisualizationp-donotdelete-pr-segj2b6ymcjjwc', Key='Excel_Sample.xlsx')['Body']
# add missing __iter__ method so pandas accepts body as file-like object
if not hasattr(streaming_body_2, "__iter__"): streaming_body_2.__iter__ = types.MethodType( __iter__, streaming_body_2 )

In [40]:
# Reading in an Excel workbook
# Provide the name of the excel workbook AND sheet_name
# Usage: pd.read_excel('workbook/file name', sheet_name = 'some sheet')

pd.read_excel(streaming_body_2,sheet_name='Sheet1')

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [41]:
# To write to a new excel file
# Usage: df.to_excel('some excel file.xlsx', sheet_name = 'some new sheet')

df.to_excel('Excel_Sample2.xlsx', sheet_name ='NewSheet')

In [42]:
# Read in the newly created excel file,
# from NewSheet

pd.read_excel('Excel_Sample2.xlsx', sheet_name='NewSheet')

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

<h3>Working with HTML Files</h3>

In [47]:
# To read in a .HTML file (web scrape)
# Usage: pd.read_html('https://some_web_site.html')

data = pd.read_html('https://www.fdic.gov/bank/individual/failed/banklist.html')

In [48]:
type(data)

list

In [59]:
data[0].shape     # 556 rows, and 7 columns

(556, 7)

In [53]:
data[0].head()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,The Enloe State Bank,Cooper,TX,10716,"Legend Bank, N. A.","May 31, 2019","June 5, 2019"
1,Washington Federal Bank for Savings,Chicago,IL,30570,Royal Savings Bank,"December 15, 2017","February 1, 2019"
2,The Farmers and Merchants State Bank of Argonia,Argonia,KS,17719,Conway Bank,"October 13, 2017","February 21, 2018"
3,Fayette County Bank,Saint Elmo,IL,1802,"United Fidelity Bank, fsb","May 26, 2017","January 29, 2019"
4,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,First-Citizens Bank & Trust Company,"May 5, 2017","March 22, 2018"

<h3>Working with SQL</h3>

In [61]:
# Build a simple SQL engine in memory

from sqlalchemy import create_engine

In [62]:
engine = create_engine('sqlite:///:memory:')

In [63]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [64]:
# To write DataFrame into a db/sql table
# Usage: df.to_sql('Name of DB table', 'connection to  sql engine')

df.to_sql('my_table',engine)

In [65]:
sqldf = pd.read_sql('my_table',con=engine)  # Read the new SQL table
                                            # Usage: pd.read_sql('some new sql table', con = 'some connection to sql engine')

In [66]:
sqldf

   index   a   b   c   d
0      0   0   1   2   3
1      1   4   5   6   7
2      2   8   9  10  11
3      3  12  13  14  15