<H1>Python Refresher</h1>

In [2]:
1+1

2

In [3]:
1.0

1.0

In [4]:
1*3

3

In [5]:
1/2

0.5

In [6]:
2 ** 4 #2 to the power of 4

16

In [7]:
2 + 3 * 5 + 5

22

In [8]:
(2+3)* (5+5)

50

In [9]:
4 % 2 # remainder

0

In [10]:
5%2

1

<h2> variable assigntments</h2>

In [11]:
var = 2

In [12]:
var

2

In [16]:
x = 2
y = 3
x + y

5

In [17]:
x = x + x

In [18]:
x

4

<h2>Strings</h2>

In [19]:
'Single quote'

'Single quote'

In [20]:
"This is a string"

'This is a string'

In [21]:
"I can't go"

"I can't go"

In [22]:
x = 'hello'

In [23]:
x

'hello'

In [24]:
print(x)

hello

In [25]:
num = 12
name = 'Sam'

In [28]:
'My Number is {} and my name is {}'.format(num,name) # Using {} and format

'My Number is 12 and my name is Sam'

In [27]:
print('My Number is {} and my name is {}'.format(num,name))

My Number is 12 and my name is Sam

In [29]:
print('My Number is {one} and my name is {two}'.format(one=num,two=name)) # Passing variables in {} and assigning variables format

My Number is 12 and my name is Sam

In [30]:
print('My Number is {one} and my name is {two}, more {one}'.format(one=num,two=name))

My Number is 12 and my name is Sam, more 12

<h3>String Index</h3>

In [42]:
s = 'elephant'

In [43]:
s[0]

'e'

In [44]:
s[4]

'h'

<h3>Index Slicing</h3>

In [45]:
s[:2] # Get the first two values only

'el'

In [46]:
s[2:] # Skip the first two values, and get all others

'ephant'

In [47]:
s[-1] # Get only the very last value

't'

In [48]:
s[0] # Get the first value

'e'

In [49]:
s[0:3] # Get the first three values only

'ele'

In [50]:
s[0:2] # Get the first two values only

'el'

In [51]:
s[0: -1] # Get all but the last value only

'elephan'

<h3>List</h3>

In [ ]:
# List are mutable = Can change the values inside of them

In [52]:
['a', 'b','c']

['a', 'b', 'c']

In [53]:
my_list = ['a', 'b','c']

In [54]:
my_list

['a', 'b', 'c']

In [55]:
my_list.append('d') # append to list

In [56]:
my_list

['a', 'b', 'c', 'd']

In [57]:
my_list[0]

'a'

In [60]:
my_list[3]

'd'

In [61]:
my_list[1:3]

['b', 'c']

In [62]:
my_list[0] = 'NEW' # (replace)Assign new variable to an index

In [63]:
my_list

['NEW', 'b', 'c', 'd']

In [73]:
nest = [[1,2],[3,4]] # Nested Lists

In [74]:
nest

[[1, 2], [3, 4]]

In [75]:
nest[0][1] # Accessing first array, then second index value

2

In [76]:
nest[1][1] # Accessing second array, then second index value

4

In [79]:
nest[0][0] # Accessing first array, then first index value

1

In [80]:
nest[1][0] #Accessing second array, then first index value

3

In [82]:
nest2 = [1,2,3,[4,5,['target']]]

In [83]:
nest2

[1, 2, 3, [4, 5, ['target']]]

In [84]:
nest2[3]  # Get the 4th element (0,1,2,3)

[4, 5, ['target']]

In [90]:
nest2[3][2] # Get the 3rd element in the list, which is 'target', at the 2nd index

['target']

In [92]:
nest2[3][2][0] # Get the first index value in the list, which is the string 'target', at the 0 index

'target'

In [93]:
print(nest2[3][2][0])

target