<h3>MAP/Filter Functions</h3>

In [1]:
# Function Review:

def times2(var):
    return var *2

In [2]:
times2(5)

10

In [3]:
# MAP() - 'Automatically' applies a function against a list, and provides output

In [9]:
seq = [1,2,3,4,5]

In [10]:
map(times2,seq) # Pass in the called function (times2) and the desired list (seq)

# This shows where the map is in memory
# Have to wrap map into a list in order to execute and get output

In [11]:
list(map(times2,seq)) # Map wrapped in a list

[2, 4, 6, 8, 10]

<h3>Lambda-Lambda-Lambda</h3>

In [12]:
# Lambda Express - Reduce having to write out a full function

In [16]:
# Take this function, for example, and write it all on one line:
 def times2(var): return var *2

In [17]:
# Remove key words *def* and *return*, because these are well known words for creating functions:

In [18]:
 times2(var):var *2

In [ ]:
# Replace the function name (times2) with a lambda expression, and remove the () around the passed parameter (var):

In [13]:
lambda var:var*2

In [19]:
# Wrap the lambda expression in a map and list --> list(map())

In [22]:
# lambda <what you want to pass in the lambda 'function'> (num) : <the expected ouput or code to perform>, and some list (seq)

In [ ]:
# This example takes a number from the seq list, and multiplies them by 3

In [23]:
list(map(lambda num: num*3,seq))

[3, 6, 9, 12, 15]

<h3>Filter</h3>

In [28]:
# Filter() -  out elements from a sequence, and returns results based on BOOLEAN evaluation

In [29]:
filter(lambda num: num%2 == 0, seq)

In [30]:
list(filter(lambda num:num%2 == 0, seq)) # This returns the even numbers from the seq list

[2, 4]

<h3>Methods, Man -lol</h3>

In [31]:
s = 'hello my is Sam'

In [48]:
# Hit TAB after the . to show all assocated methods that can be used

In [49]:
s.lower() # String Methods

'hello my is sam'

In [33]:
s.upper()

'HELLO MY IS SAM'

In [34]:
s.split()

['hello', 'my', 'is', 'Sam']

In [35]:
tweet = 'Go Sports! #Sports' # Example of Tweet string to use for understanding split()

In [36]:
tweet.split('#') # Split on the '#'

['Go Sports! ', 'Sports']

In [40]:
len(tweet.split('#')) # Get the length of the tweet split

2

In [41]:
tweet.split('#')[0]

'Go Sports! '

In [42]:
tweet.split('#')[1]

'Sports'

In [44]:
d = {'k1': 1, 'k2': 2} # Dictionary methods

In [45]:
d.keys()

dict_keys(['k2', 'k1'])

In [46]:
d.items()

dict_items([('k2', 2), ('k1', 1)])

In [47]:
d.values()

dict_values([2, 1])

In [56]:
lst1 = [1,2,3] # List Methods

In [57]:
lst1.pop() # Pop the last item out of the list

3

In [59]:
lst1

[1, 2]

In [60]:
lst1 = [1,2,3,4,5]

In [62]:
item = lst1.pop()  # Pop last item off of list, and assign to var item

In [63]:
lst1

[1, 2, 3, 4]

In [64]:
item

5

In [65]:
first = lst1.pop(0) # Pop the first index item out of the list, and assign it to var first

In [66]:
first

1

In [67]:
lst1

[2, 3, 4]

In [68]:
lst1.append('new')  # Append new to the end of the list

In [69]:
lst1

[2, 3, 4, 'new']

<h3>IN</h3>

In [70]:
'x' in 'fox'

True

In [71]:
'x' in 'car'

False

In [76]:
'why' in ['box','why','zebra']

True

In [77]:
'4' in [1,2,3]

False

In [80]:
apple = {'k1': 'butter', 'k2': 'ketchup'}

In [85]:
'butter' in apple.values()

True

<h3>Tuple Unpacking</h3>

In [2]:
x = [(1,2),(3,4),(5,6)]

In [88]:
for item in x:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [89]:
for (a,b) in x:
    print(a)

1
3
5

In [90]:
for (a,b) in x:
    print(b)

2
4
6

In [91]:
[a for (a,b) in x]  # Unpacking Tuple using list comprehension to get the odd numbers

[1, 3, 5]

In [92]:
[b for (a,b) in x] # Unpacking Tuple using list comprehension to get the even numbers

[2, 4, 6]

In [3]:
h = [b for (a,b) in x] # Unpack Tuple using list comprehension and assign to h

In [4]:
h

[2, 4, 6]

In [7]:
h[1] # Slice to get index value for 1

4