<h3>Dictionaries</h3>

In [1]:
d = {'key1': 'value', 'key2':123} #dictionary has key:value pairs

In [2]:
d

{'key1': 'value', 'key2': 123}

In [4]:
d['key1']

'value'

In [5]:
d['key2']

123

In [9]:
d1 = {'k1':[1,2,3]} # A list inside of a dictionary

In [10]:
d1

{'k1': [1, 2, 3]}

In [11]:
d1['k1'] # Only calling the key

[1, 2, 3]

In [17]:
d1['k1'][0] # index value

1

In [16]:
d1['k1'][1] # index value

2

In [15]:
d1['k1'][2] # index value

3

In [18]:
d2 = {'k1':{'innerkey': [1,2,3]}} # Nested dictionary in a dictionary

In [20]:
d2['k1']['innerkey'][1] # Get the 1st index value from the nested dictionary, starting with the outer dictionary

2

<h3>Boolean</h3>

In [ ]:
# Used most in comparative sets

In [21]:
True

True

In [22]:
False

False

<h3>Tuples</h3>

In [ ]:
# Tuples are immutable = Can't change the values inside of them.

In [25]:
t = (1,2,3)

In [27]:
t[0]

1

In [28]:
t[0] = 'FRESH' # Tuples are immutable = Can't change the values inside of them.

TypeError: 'tuple' object does not support item assignment

<h3>Sets</h3>

In [29]:
# A collection of **unique** elements

In [30]:
{1,2,3}

{1, 2, 3}

In [31]:
{1,1,1,1,2,2,2,3,3,3}

{1, 2, 3}

In [32]:
set([1,1,1,1,2,2,2,3,3,3])

{1, 2, 3}

In [33]:
s = {1,2,3}

In [36]:
s.add(5) # Add 5 to the set (Sets are mutable)

In [37]:
s

{1, 2, 3, 5}

<h3>Comparison Operators</h3>

In [38]:
# < > == <= >=

In [39]:
1 > 2

False

In [40]:
1 < 2

True

In [41]:
1 >= 2

False

In [43]:
1 <= 2

True

In [44]:
1 == 1

True

In [45]:
1 == 2

False

In [46]:
1 != 3

True

In [47]:
'hi' == 'bye'

False

In [49]:
'hi' != 'bye'

True

<h3> AND/OR </h3>

In [50]:
(1 < 2) and (2 < 3)  # Both have to be true, to return 'True'

True

In [51]:
(1 < 2) and (2 > 3)

False

In [53]:
(1 < 2) or (2 > 3)  # One can be true and the other can be false

True

<h3>IF/ELIF/ELSE: - Conditional Code Blocks</h3>

In [54]:
if 1 < 2:
    print('yep!')

yep!

In [55]:
if 1 == 2:
    print('first')
else:
    print('last')

last

In [57]:
if 1 == 2:
    print('first')
elif 4 == 4:
    print('second')
elif 3 == 3:
    print('middle')
else:
    print('last')

second